#contactUs {
    text-align: center;
    font-size: min(8.5vw, 85px);
    margin-top: 13vh;
}

#contactTextBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    height: 30vh;
    width: 70vw;
    font-size: min(7vw, 60px);
    margin-bottom: 8vh;
}

#contactAdminButn {
    display: block;
    margin: 0 auto;
    margin-top: 1vh;
    font-size: min(7vw, 70px);
}

#submitRes {
    text-align: center;
    margin: 7vh auto;
    font-size: min(5.5vw, 50px);
    color: rgb(207, 86, 0);
}
